<!DOCTYPE>
<html>
<head>
	<title>リソース管理プロジェクト</title>
	<link rel="stylesheet" type="text/css" href="../css/style.css">
</head>
<body>
	<div id="user">
		<select name="User">
			<option>ほげ</option>
			<option>poge</option>
		</select>
	</div>
	<div>
		<h3>タスクリスト</h3>
		<table>
			<tr>
				<th>月タスク</th>
				<th>週タスク</th>
				<th>月曜日</th>
				<th>火曜日</th>
				<th>水曜日</th>
				<th>木曜日</th>
				<th>金曜日</th>
			</tr>
			<tr>
				<td>1h</td>
				<td>2h</td>
				<td>3h</td>
				<td>4h</td>
				<td>5h</td>
				<td>6h</td>
			</tr>
		</table>
	</div>
</body>
</html>